.not-found {
    flex: 999 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    background: #fff;

    h2 {
        font-size: 40px;
    }
}