.work {
    word-wrap: break-word;
    text-align: left;

    &__site {
        margin-bottom: 10px;
        display: block;
    }

    &__repo {
        margin-bottom: 10px;
    }

    &__image {
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0 0 5px 2px rgba(0,0,0,.25);
        line-height: 0;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 200px;
        }
    }

    &__desc {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5;
    }
}